$font-sizes: (
    xs: 0.625rem, // 10px
    sm: 0.8125rem, // 13px
    default: 0.9375rem, // 15px
    lg: 1.125rem, // 18px
    xl: 1.5rem, // 24px
    2xl: 2.25rem // 36px
);

$font-weights: (
    'default': 500,
    'bold': 700
)