@use "../abstracts/" as *;

$start: 0;
$end: 65;

@for $size from $start through $end {
    $size-value: #{calc($size / 16)}rem;

    .mt-#{$size} {
        margin-top: $size-value !important;
    }

    .mb-#{$size} {
        margin-bottom: $size-value !important;
    }

    .ml-#{$size} {
        margin-left: $size-value !important;
    }

    .mr-#{$size} {
        margin-right: $size-value !important;
    }
}

@for $size from $start through $end {
    $size-value: #{calc($size / 16)}rem;

    @include breakpoint(md) {
        .mt-md-#{$size} {
            margin-top: $size-value !important;
        }

        .mb-md-#{$size} {
            margin-bottom: $size-value !important;
        }

        .ml-md-#{$size} {
            margin-left: $size-value !important;
        }

        .mr-md-#{$size} {
            margin-right: $size-value !important;
        }
    }
}

@for $size from $start through $end {
    $size-value: #{calc($size / 16)}rem;

    @include breakpoint(lg) {
        .mt-lg-#{$size} {
            margin-top: $size-value !important;
        }

        .mb-lg-#{$size} {
            margin-bottom: $size-value !important;
        }

        .ml-lg-#{$size} {
            margin-left: $size-value !important;
        }

        .mr-lg-#{$size} {
            margin-right: $size-value !important;
        }
    }
}

.ml-auto {
    margin-left: auto;
}